mixin sForWhom(data)
	// start sForWhom
	+b.SECTION.sForWhom.section#sForWhom&attributes(attributes)
		.container
			+img(src="img/svg/flash.svg").flash
			+img(src="img/svg/flash.svg").flash-2
			+img(src="img/svg/flash-sm.svg").flash-sm
			+e.row.row
				+e.col.col-lg-8
					+b.section-title
						h2 Для кого?
					ul
						li Тебе 14-35 лет
						li Интересуешься бизнесом
						li Или уже есть своё дело
					.h6 Мероприятия открыты к посещению по предварительной регистрации Чтобы получить разбор, необходимо заполнить заявку и пройти отбор
					+e.btn.btn.btn-primary(href='#') Участвовать
						+img(src="img/svg/arrows.svg", alt="")
				+e.col.col-lg-4
					+e.img-wrap
						+img(src="img/sForWhom-img.png").img
	// end sForWhom