mixin footer()
	+b.FOOTER.footer.section
		.container
			+e.row.row
				.col.col-lg-5
					+e.logo(href="/"): +img('img/svg/logo-wide.svg')
				.col-12.col-lg.order-last
					+mnu()
				.col-auto.links.order-lg-last
					a(href='#'): +icon('vk')