
mixin modal() 
	//  start modals
	div(id="modal-call"  style="display: none" )
		+b.modal-win
			+form-wrap
				.text-center
					+e.title.form-data.h3.ttu Обратный звонок
					p.after-headline Заполните заявку и&nbsp;мы&nbsp;с&nbsp;Вами свяжемся в&nbsp;течение 15&nbsp;минут

				+input("Ваше Имя")(required)
				+input("Ваше телефон",'tel')(required)
				+input("Ваше телефон",'tel')(required)
				+e.BUTTON.btn.btn(type="submit"  ) submit
				+policy()
				+policy()
	// #modal-call
	div(id="modal-live"  style="display: none" )
		+b.modal-win.bg-wrap
			+img('img/modal-win-1.png').bg-1
			.h1 трансляция скоро появится
			+e.video-wrap
				.img-wrap-center
					iframe(src="https://www.youtube.com/embed/ZFt83Q3GOok" title="🔥 Cozy Fireplace 4K (12 HOURS). Fireplace with Crackling Fire Sounds. Crackling Fireplace 4K" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen)
	// #modal-live

	
	// end modals