
	// start .sContact
	.sContact {
	// --sPT: #{rem()};
	--sPB: #{rem(90)};
	--sTPB: #{rem(22)};
	&__row{
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: var(--bs-gutter-x);

	}
		position: relative;

  .city {
    position: absolute;
    bottom: rem(-30);
    right: rem(-50);
    z-index: -1;
    max-width: 110vw;
  }
	&__wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: rem(20) rem(46);
	}
	&__item {
    // padding-right: rem(46);
    &:first-child {
      position: relative;
      &:after {
        content: '';
        display: inline-block;
        width: 1px;
        height: 15px;
        background: $body-color;
        transform: translate(20px, 3px);
      }
    }
    a {
      font-weight: 700;
      color: $white;
    }
	}
	p {
    margin-bottom: 0;
  }

  .icon {
    font-size: rem(17);
    margin-left: rem(5);
    transform: translateY(-15%);
  }
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.sContact