mixin sAgenda(data)
	// start sAgenda
	+b.SECTION.sAgenda.section#sAgenda&attributes(attributes)
		.container
			+e.img-wrap
				+img(src="img/sAgenda-bg.png", alt="").img
				.gradient
			+b.section-title
				h2 Программа
				.h6 «Бизнес не спит. Разборы 360» - вечернее мероприятие, чтобы вам было комфортно прийти после учебы или работы
			+e.wrap
				//- .h6 #[span Начинаем в 19:00] по местному времени
				.h6 Проводим #[span 5 разборов]
			+e.row.row
				+e.col.col-lg-6
					.h5 Что мне дадут разборы?
					ul
						li узнаешь, как сделать результаты и выйти на новый уровень
						li получишь конкретные рекомендации от топовых предпринимателей
						li заявишь о себе и своём деле на всю страну
				+e.col.col-lg-6
					.h5 Зачем приходить очно зрителем?
					ul
						li обретешь полезные знакомства
						li впитаешь живую энергию разборов и вдохновишься на создание своего дела
						li получишь решения проблемных точек в своем бизнесе через чужой опыт
	// end sAgenda