// start .sAgenda
.sAgenda {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	position: relative;

  &__img-wrap {
    position: absolute;
    width: 100%;
    top: 130px;
    left: 0;
    z-index: -1;
  }
  .gradient {
    width: 100%;
    height: calc(4px + 100%);
    position: absolute;
    top: -2px;
    left: 0;
    background: linear-gradient(180deg, rgba(30,0,60,1) 10%, rgba(30,0,60,0) 50%, rgba(30,0,60,1) 90%);
  }

  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
	&__row{
		--bs-gutter-y: #{rem(50)};
	}
  h2 {
    margin-bottom: rem(24);
  }
	.section-title{
		.h6 {
      max-width: rem(907);
      font-family: $font-family-circe;
    }
	}

  &__wrap {
    margin-bottom: rem(60);
    .h6 {
      display: inline-block;
      margin-right: rem(23);
      padding: rem(23) rem(40);
      // background: $indigo;
      border-radius: rem(100);
      background: $purple;

      span {
        color: $primary;
      }
    }
  }

  &__col:nth-child(even) {
    @include media-breakpoint-up(xl) {
      .h5, ul {
        margin-left: rem(60);
      }
    }
  }


  .h5 {
    margin-bottom: rem(40);
  }
  li {
    font-family: $font-family-circe-light;
    position: relative;
    padding-left: 50px;
    font-size: rem(20);
    margin-bottom: rem(24);
    &:last-child {
      margin-bottom: 0;
    }
  }
  ul {
    list-style-type: none;
    margin-bottom: rem(8);
  }

  li:before {
    content: ''; 
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
    background-image: url("data:image/svg+xml,%3Csvg width='37' height='37' viewBox='0 0 37 37' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.375 35.75C22.3948 35.75 26.2902 34.3562 29.3976 31.8061C32.5049 29.2559 34.6319 25.7073 35.4161 21.7647C36.2004 17.8221 35.5933 13.7296 33.6984 10.1845C31.8035 6.63934 28.7379 3.8609 25.0241 2.32259C21.3103 0.784284 17.178 0.581276 13.3313 1.74816C9.4846 2.91505 6.1615 5.37962 3.92822 8.72196C1.69494 12.0643 0.689657 16.0776 1.08366 20.078C1.47767 24.0785 3.24659 27.8185 6.08902 30.661' stroke='%23FFC800' stroke-width='2' stroke-linecap='round' /%3E%3Cpath d='M26.0972 14.5139L17.8465 24.4148C17.1909 25.2015 16.8631 25.5948 16.4226 25.6148C15.982 25.6348 15.6199 25.2727 14.8958 24.5486L10.6528 20.3056' stroke='%23FFC800' stroke-width='2' stroke-linecap='round' /%3E%3C/svg%3E");
    background-size: cover;
  }

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sAgenda