mixin sPartners(data)
	// start sPartners
	+b.SECTION.sPartners.section#sPartners&attributes(attributes)
		.container
			+b.section-title
				h2 партнёры
			+e.row.row
				+e.col.col-sm-6.col-md-4.col-lg-3
					+e.img-wrap: +img('img/sPartners-1.png')
				+e.col.col-sm-6.col-md-4.col-lg-3
					+e.img-wrap: +img('img/sPartners-2.png')
				+e.col.col-sm-6.col-md-4.col-lg-3
					+e.img-wrap: +img('img/sPartners-3.png')
				+e.col.col-sm-6.col-md-4.col-lg-3
					+e.img-wrap: +img('img/sPartners-4.png')
	// end sPartners