.top-nav {
  padding: rem(54) 0 rem(15);

	&__row {
    align-items: center;
    --bs-gutter-y: var(--bs-gutter-x);
    @include media-breakpoint-up(lg) {
      margin-right: rem(-40);
    }
	}

	&__col{
    @include media-breakpoint-down(md) {
			padding: 0;
			margin: 0;
		}
	}

	&__logo {
		display: inline-block;
		width: 100%;
		max-width: 232px;
		img {
			width: 100%;
		}
    @include media-breakpoint-up(xl) {
      margin-left: rem(-40);
    }
	}


	@include media-breakpoint-up(sm) {}
	
	@include media-breakpoint-up(xs) {}
	// 
	@include media-breakpoint-between(md, xl) {}
	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-down(xs) {}
}


